#parent{
    position:relative;
}

#map{
    width: 600px; 
    height: 356px;
    position:absolute;
    top:50px;
    right:30px; 
}
#right{
	position: absolute;
	top: 60px;
	left: 20px;
}

#tags{
	position: absolute;
	top: 40px;
	left: 20px;
}
.border{
	background: lightgray;
	border: 10px solid gray;
	margin-bottom: 10px;
	width: 600px;
}

.label-text{
	width: 180px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

textarea{
	width: 360px;
	height: 50px;
}

.text-red{
	text-align: center;
	background-color: #cf1111;
	color: white;
	width: 50px;
}

.text-blue{
	text-align: center;
	background-color: blue;
	color: white;
	width: 50px;
}