#parent{
    position:relative;
}

#map{
	margin: 20%;
    position:absolute;
    left:0px;
    top:0px;
    right:200px; //Increase it if you want a little space between the 2 divs.
    min-height:200px; // or bottom:0px; if you want a dynamic height
}
#right{
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 99;
}

.border{
	background: gray;
	border: 2px solid;
	margin-bottom: 10px;
	width: 700px;
	float: right; 
}

.label-text{
	width: 180px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

textarea{
	width: 360px;
	height: 50px;
}
